%div.col-sm-6
  = bootstrap_form_for @partner, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-7" do |f|
    - if @partner.errors.any?
      #error_explanation
        %h2= "#{pluralize(@partner.errors.count, "error")} prohibited this partner from being saved:"
        %ul
          - @partner.errors.full_messages.each do |msg|
            %li= msg
    - partners = params[:action] == 'edit' ? User.members.collect {|u| [ u.full_name, u.id ] }: User.has_no_partner.collect {|u| [ u.full_name, u.id ] }

    = f.select :host_id, partners
    = f.select :cohost_id, partners
    = f.select :rank, params[:action] == 'edit' ? Partner.get_weeks + [@partner.rank] : Partner.get_weeks
    .actions.float-right
      = f.submit 'Save', class: "btn btn-success btn-lg"
