%h1 Upcoming Events
%table.table.table-hover.table-responsive
  %thead
    %th{width: "30%"} Book
    %th{width: "30%"} Date
    %th Actions
  %tbody
    - @events.each do |event|
      %tr
        %td= event.book.present? ? event.book.title : "TBD"
        %td #{Date.parse(event.date).strftime("%A %b %d, %Y")} @ #{Time.parse(event.time).strftime("%I:%M %p")}
        %td= link_to 'Details', event, class: "btn btn-info btn-sm"
        - if event.responses.collect(&:user_id).include?(current_user.id)
          %td= link_to 'Edit RSVP', edit_event_response_path(event.id, event.responses.find_by_user_id(current_user.id).id), class: "btn btn-warning btn-sm"
        - else
          %td= link_to 'RSVP', new_event_response_path(event), class: "btn btn-warning btn-sm"
        - if event.partner_id == current_user.partner_id || current_user.admin?
          %td= link_to 'Edit Event', edit_event_path(event), class: "btn btn-success btn-sm"
          %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
