/ Modal
#approvalModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "approvalModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header.bg-info
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title Add New Book
      .modal-body
        = bootstrap_form_for(@book, url: "/books", method: "post",  layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-7") do |f|
          = f.alert_message "Please fix the errors below."
          = f.text_field :title
          = f.text_field :author
          = f.text_field :link
          = f.text_field :description
          = f.text_field :image
          = f.text_field :publish_date, class: 'datetimepicker4'
          = f.text_field :book_club_date, class: 'datetimepicker4'
          %div.col-md-offset-9
            = f.submit 'Add Book', class: 'btn btn-success', id: 'modal-submit-button'
    / /.modal-content
  / /.modal-dialog
/ /.modal

