<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= bootstrap_form_for :password, url: passwords_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4"  do |form| %>
      <%= form.text_field :email, type: 'email' %>
      <%= form.submit %>
  <% end %>
</div>
