= navbar fixed: :top, container: 'fluid' do
  - if current_user.present?
    = navbar_header brand: "#{current_user.first_name}'s Book Club Manager", brand_link: '/' do
      = image_tag 'favicon.ico', class: 'img img-circle img-responsive', style: 'height:30px;margin-top:8px;'
  -else
    = navbar_header brand: 'Book Club Manager', brand_link: '/' do
      = image_tag 'favicon.ico', class: 'img img-circle img-responsive', style: 'height:30px;margin-top:8px;'
  - if signed_in?
    = navbar_collapse do
      = navbar_group class: 'foo', id: 'menu' do
        = navbar_item "Recipe List", recipes_path
        = navbar_item "Book List",  books_path
        - if current_user.partner_id || current_user.admin?
          = navbar_item "Add Event",  new_event_path
        - if current_user.present? && current_user.admin?
          = navbar_group class: 'foo', id: 'menu' do
            = navbar_item "Partners panel", partners_path
          = navbar_group class: 'foo', id: 'menu' do
            = navbar_item "User Panel", users_path
      = navbar_group align: 'right' do
        = link_to t(".sign_out"), sign_out_path, method: :delete, class: "sign-out btn btn-danger"
