Don't Forget! Book Club is on #{ Date.parse(@event.date).strftime("%A %b %d, %Y")} @ #{Time.parse(@event.time).strftime("%I:%M %p")}!
= "LOCATION:" + @event.location if @event.location.present
= link_to 'See More Info', event_url(@event)

If you have not already done so, please RSVP ASAP!
= link_to 'Click to RSVP', new_event_response_url(@event)
